:root {
  --primary-color: #F0F0DB;
  --secondary-color: #E1D9BC;
  --side-color: #30364F;
  --text-color: #30364F;
  --hover-color: #ACBAC4;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background: var(--side-color);
  padding: 20px;
}

.sidebar a {
  display: flex;
  margin: 15px 0;
  color: white;
  text-decoration: none;
  font-size: 18px;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
.sidebar a:hover {
  background: var(--hover-color);
}


