
.container {
    padding: 30px;
    margin: 40px auto;
    background: #ffffff;
}

/* Card */
.list-card {
    background: #F6F6F6;
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-task {
    display: flex;
    gap: 10px;
}

.add-task input {
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.add-task button {
    background: #6c7ae0;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}
.add-task button:hover {
    background: #ACBAC4;
}

/* Table */
table {
    width: 100%;
    margin-top: 15px;
    border-collapse: collapse;
    font-size: 18px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #c5c3c3;
}

/* Status colors */

.in_review {
    background: #f8d7da;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 16px;
}

.in_progress {
    background: #fff3cd;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 16px;
}

.proposed {
    background: #d1ecf1;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 16px;
}

.completed {
    background: #d4edda;
    padding: 4px 10px;
    border-radius: 10px;
    font-size: 16px;
}

/* Progress bar */
.progress-card {
    text-align: center;
}

.progress-bar {
    background: #eee;
    height: 10px;
    border-radius: 10px;
    margin: 20px 0;
    overflow: hidden;
}

.progress-fill {
    background: #6c7ae0;
    height: 100%;
    width: 40%;
}

/* Buttons */
.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.buttons button {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background: #e0e4ec;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 16px;
    font-weight: bold;
}
.buttons button:hover {
    background: #ACBAC4;
}

/*dropdown*/
select {
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}
option{
    padding: 6px 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #6c7ae0;
}
option:hover {
    background-color: white;
}